body {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #f5f5f5;
}

#picks {
    width: 100%;
    height: 100%;
}
/* 
section {
    display: flex;
    max-width: 100%;
    max-height: 100%;
    background-image: url('../assets/guitar-cropped.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}
 */
.pick {
    max-width: 10%;
    position: absolute;
    left: 44%;
}

#pick-one {
    top: 19%;
}

#pick-two {
    top: 26%;
}
#pick-three {
    top: 33%;
}
#pick-four {
    top: 40%;
}
#pick-five {
    top: 47%;
}


/* 
#pick-column {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    max-height: 50%;
} */