body {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #f5f5f5;
    background-image: none;
}

#user-stats {
    position: fixed;
    top: 25px;
    right: 0;
    background-color: #7DF112;
    border: solid 3px #8E3444;
}

.pick {
    max-width: 8%;
    position: absolute;
    left: 45%;
}

.pick:hover {
    transform: rotate(330deg);
}

#pick-one {
    top: 19%;
}

#pick-two {
    top: 26%;
}
#pick-three {
    top: 33%;
}
#pick-four {
    top: 40%;
}
#pick-five {
    top: 47%;
}