#instructions {
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: #F8007A;
    width: 85%;
    border: solid 3px black;
    border-radius: 15px;
    padding: 10px;
    margin: auto;
    font-weight: bolder;
}

body {
    background-image: url('assets/lightning-bg.jpg');
    background-size: cover;
    height: 100%;
}

input {
    margin-top: 7px;
}